body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/home/fernanda/Proyectopagina/static/imagenes/blogfondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}


main {
    padding: 80px;
}

.blog-post {
    margin-bottom: 30px;
    border: 2px solid #ddd;
    padding: 30px;
    border-radius: 0px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: justify;
}


.meta {
    font-style: italic;
    color: #555;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 15px;
    /* Espacio entre los iconos */
}

.social-icons i {
    font-size: 49px;
    /* Tamaño de los iconos */
}