body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/home/fernanda/Proyectopagina/static/imagenes/Fondo-contactanos.jpg') center center fixed;
    background-size: cover;
    text-align: justify;
}

body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/home/fernanda/Proyectopagina/static/imagenes/Fondo-contactanos.jpg') center center fixed;
    background-size: cover;
    opacity: 0.8;
    /* Opacidad de la capa */
    z-index: -1;
    /*reduce la luminosidad*/
    filter: brightness(0.15);
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.header-container {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.header-container {
    position: relative;
    height: 100px;
    /* Ajusta la altura */
}

.header-container img {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 200px;
    height: 90px;
}

.header-container h1 {
    font-family: 'New York Font';
    font-size: 2.0em;
    margin: 40px auto;
}

.contact-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.contact-info,
.contact-method {
    text-align: center;
}

.contact-info i,
.contact-method i {
    font-size: 4em;
    /* Tamaño más grande */
    margin-bottom: 10px;
    color: #3498db;
}

.contact-info h2,
.contact-method h2 {
    color: #ffffff;
    margin: 0;
    /* Elimina el margen por defecto */
}

.contact-info p,
.contact-method p {
    color: #c0bebe;
    margin: 0;
}

h2 {
    text-align: center;
    font-family: '';
    color: #51b7fc;
    font-size: 2.0em;
}