body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: fixed; /* Cambiado a fixed para que el encabezado sea fijo */
  width: 100%;
  top: 0;
  height: 100px;
}

.header-container img {
  position: absolute;
  top: 5px;
  left: 500px;
  width: 250px;
  height: 100px;
}

.header-container h1 {
  font-family: 'New York Font';
  font-size: 2.5em;
}


/*Primeros iconos*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.icon-bar {
  position: absolute;
  top: 40px;
  right: 25px;
  display: flex;
  gap: 13px;
  position: fixed;
}

.icon-bar i {
  font-size: 40px;
  cursor: pointer;
  color: #fff;
}

/*Parte de abajo, gris*/
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1 1 250px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.footer-section a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 7px;
}

.footer-section p {
  margin: 0;
  font-size: 12px;
}

/*Productos*/
.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel {
  overflow: hidden;
  width: 10000%;
  max-width: 630px;
  max-height: 680px;
  margin: 5px auto; /* Centra el carrusel en la página */
}

.carousel img {
  width: 100%;
  height: 290px;
}

/*Productos*/
.collage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.collage img {
  width: 215px;
  height: 200px;
  border-radius: 10px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 25px;
  background-color: #30759c;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: #1f5574;
}

.button:active {
  transform: scale(1.1);
}

h1 {
  font-size: 45px;
  color: #333;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 35px;
  font-family: 'Pacifico';
}

/*iconos de abajo */
.footer-content {
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  position: absolute;
  top: 1400px;
  right: 23px;
  gap: 15px;
}

.social-icons a {
  margin-left: none;
  font-size: 50px;
  color: #fff;
}

.large-images {
  display: flex;
  justify-content: flex-start;
  /* Ajusta la alineación horizontal a la izquierda */
  align-items: flex-start;
  /* Ajusta la alineación vertical hacia arriba */
  height: 70vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.large-images img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.copyright {
  color: #949494;
  text-align: center;
}