body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('/home/fernanda/Proyectopagina/static/imagenes/sobre-nosotros.jpeg') center center fixed;
  background-size: cover;
  text-align: justify;
}

body::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/home/fernanda/Proyectopagina/static/imagenes/sobre-nosotros.jpeg') center center fixed;
  background-size: cover;
  opacity: 0.8;
  /* Opacidad de la capa */
  z-index: -1;
  /* Ajusta este valor para reducir la luminosidad. Un valor inferior a 1 hará que la imagen sea menos brillante. */
  filter: brightness(0.40);
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.header-container {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
}

.header-container img {
  width: 200px;
  height: 100px;
  top: 5px;
  left: 500px;
}

.header-content {
  margin-left: auto;
  /* Empuja el contenido hacia la derecha */
}

.header-container h1 {
  font-family: 'New York Font';
  font-size: 2.5em;
  margin: 0;
}



.logo h3 {
  font-family: 'New York Font';
  font-size: 25px;

}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 100px;
  margin-right: 40px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}

section.about-us {
  padding: 2em;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilo para la sección "Sobre Nosotros" */
section.about-us {
  padding: 45px;
  text-align: center;
  color: #555;
}

.about-us-content {
  max-width: 830px;
  margin: 0 auto;
}

.about-us-content h1 {
  font-size: 3.3em;
  color: #333;
  margin-bottom: 0px;
  font-family: 'Caveat', cursive;
  line-height: 1.0;

}

.about-us-content p {
  font-size: 19px;
  line-height: 1.5;
  color: #666;
  font-family: 'New York Font';

}

.about-us-content p:first-of-type {
  margin-bottom: 30px;
}

.about-us-content p:last-of-type {
  margin-bottom: 0;
}

.about-us-content {
  box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 15px;
  background-color: rgb(226, 226, 226);
}