body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/home/fernanda/Proyectopagina/static/imagenes/Fondo-servicios.jpeg') center center fixed; 
    background-size: cover;
    text-align: justify;
}

header {
    background-color: #333;
    color: #fff;
    padding: 23px;
    text-align: center;
}

.header-container {
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    margin: 0;
    font-family: 'New York Font';
    font-size: 36px;
}

.tagline {
    margin: 5px 0 0;
    font-size: 1.2em;
}

.main-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff5f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.section-title {
    color: #333;
    text-align: center;
}

.services-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    border: 2px solid #ddd;
    padding: 20px;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    text-align: justify; 
    background: url('/home/fernanda/Proyectopagina/static/imagenes/Fondo-tabla-serv.jpeg') center center fixed; 
}

.service:hover {
    transform: scale(1.05);
}

.service img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    width: 300px;
    height: 200px;
}

